{% extends '_layouts/default.twig' %}

{# ========================================================================== #}
{# Template #}
{# ========================================================================== #}
{% block content %}
	<h1>Hallokes welkom op de blog</h1>
{% endblock %}