{% extends '_layouts/default.twig' %}

{# ========================================================================== #}
{# Template #}
{# ========================================================================== #}
{% block content %}
	<p>Product content</p>
{% endblock %}