{% extends '_layouts/default.twig' %}

{# ========================================================================== #}
{# Template #}
{# ========================================================================== #}
{% block content %}
	<h1>Hallokes dit is de Home</h1>
{% endblock %}