{% extends '_layouts/default.twig' %}

{# ========================================================================== #}
{# Props #}
{# ========================================================================== #}
{% set category = category ?? 'No category' %}

{# ========================================================================== #}
{# Template #}
{# ========================================================================== #}
{% block content %}
	<p>Home content</p>

	<p><strong>Category:</strong> {{ category }}</p>
{% endblock %}